body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  color: #333;
}

h1 {
  color: #ea8d4a;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  color: #444;
  margin-top: 30px;
  border-bottom: 2px solid #ea8d4a;
  padding-bottom: 8px;
}

form {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  max-width: 800px;  
  margin: 0 20px;
}

form input[type="text"],
form textarea,
form select,
form input[type="file"] {
  width: 100%;
  padding: 5px;
  margin: 8px 0 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

form button {
  background-color: #ea8d4a;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}

form button:hover {
  background-color: #c76b2e;
}

/* Banner */
.contenedor-banner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
  align-items: flex-start;
}

#form-banner {
  flex: 1 1 45%;
}

.vista-banner {
  flex: 0 0 300px; /* ancho fijo */
  max-width: 300px;
  background: #fff;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.vista-banner h3 {
  margin-top: 0;
}

#preview-banner img,
#preview-banner video {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* sebastiane */
.gestion-sebastiane {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.formulario {
  flex: 1;
  min-width: 300px;
}

.peliculas-listado {
  flex: 2;
  max-width: 600px;
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.pelicula-admin {
  background: #fff;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.bloque-form {
  margin-bottom: 20px;
}

.bloque-form h4 {
  margin-bottom: 6px;
  margin-top: 14px;
  color: #666;
  font-size: 16px;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 25px 0;
}

.gestion-noticias {
  display: flex;
  gap: 4px; 
  align-items: flex-start;
}

.noticias-listado {
  flex: 0 1 40%;
  max-width: 40%;
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}